/* Make background white */
body, html {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* Center container globally */
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
